<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C8AccountStatusReview.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings configSource=".\Connections.config">
        
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <C8AccountStatusReview.Runner.Properties.Settings>
            <setting name="CognitiveReportsUnlockedPath" serializeAs="String">
                <value>..\..\..\..\C8AccountStatusReview\C8AccountStatusReview.MidYear\Reports\CognitiveReportsUnlocked.rdlc</value>
            </setting>
            <setting name="LeadingCohortsPath" serializeAs="String">
                <value>..\..\..\..\C8AccountStatusReview\C8AccountStatusReview.MidYear\Reports\LeadingCohorts.rdlc</value>
            </setting>
            <setting name="MidYearReportPath" serializeAs="String">
                <value>..\..\..\..\C8AccountStatusReview\C8AccountStatusReview.MidYear\Reports\SchoolMidyearReport.rdlc</value>
            </setting>
            <setting name="CognitiveWeaknessesPath" serializeAs="String">
                <value>..\..\..\..\C8AccountStatusReview\C8AccountStatusReview.MidYear\Reports\CognitiveWeaknesses.rdlc</value>
            </setting>
            <setting name="StatsChartPath" serializeAs="String">
                <value>..\..\..\..\C8AccountStatusReview\C8AccountStatusReview.MidYear\Reports\StatsChart.rdlc</value>
            </setting>
            <setting name="StudentsOnTrackPath" serializeAs="String">
                <value>..\..\..\..\C8AccountStatusReview\C8AccountStatusReview.MidYear\Reports\StudentsOnTrack.rdlc</value>
            </setting>
        </C8AccountStatusReview.Runner.Properties.Settings>
    </applicationSettings>
</configuration>